<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

-->

<root>
    <!--
    Enter your the directory location where you stored your ros xml files. Makes sure that all the ros xml files are 
    stored in this folder or its sub folders
     -->
    
    <ros_repository_location>C:\drinventor_project\corpus\80 papers dataset</ros_repository_location>
    <ros_qa_output_location>C:\DRINVENTOR_PROJECT\ROS Assessment Techniques</ros_qa_output_location>
    <scopus_api></scopus_api>
    <db_name>drinventor </db_name>
    <db_user_name>root</db_user_name>
    <db_pass_word></db_pass_word>
    <corpus_location></corpus_location>
    
    
</root>
